@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.rank-heading{
    padding-top: 8vw;
    text-align: center;
    font-weight: bolder;
    font-size: 5vw;
}
.navbar{
  background-color: rgb(16, 16, 27);
}
.leaderboard{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.table {
    color: #cfcfcf;
    font-size: 20px;
    padding: 0;
    width: fit-content;
    margin-bottom: 70px;
    text-transform: capitalize;
    border-collapse: collapse; /* Added to collapse borders */
  }
  
  .table th {
    font-size: 30px;
    text-align: left;
    padding: 30px;
  }
  
  .table td {
    padding: 10px 30px 10px;
  }
  .table td:nth-child(1) {
    min-width: 400px;
  }
  
  .table td:nth-child(2) {
    text-align: center;
    min-width: 100px;
    max-width: 100px;
  }
  
  .table tr:nth-child(even) {
    background-color: rgb(25, 23, 41);
  }

  .table td, .table th {
    border: 1px dotted white;
  }

  .table, .table td, .table th {
    border-collapse: collapse;
  }
  



@media (max-width: 768px) {
  .rank-heading{
    padding-top: 18vw;
    font-size: 8vw;
    padding-bottom: 2vw;
}
    .table{
      font-size: 15px;
    }

    .table td:nth-child(1) {
      min-width: 200px;
    }

    .table td:nth-child(2) {
      min-width: 100px;
    }

    .table th {
      font-size: 20px;
      text-align: left;
      padding: 20px;
    }
    .scorecard{
      margin: 0 5% 0 5%;
    }
  }

